:root {
    --primary: transparent;
    --dark: #0f3232;
    --light: #000;
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  }
  @font-face {
    font-family: "GT-Walsheim";
    src: url("fonts/GT-Walsheim-Pro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    font-family: "GT-Walsheim", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  
  p {
    font-size: 25px;
  }
  img:not(.logo, .section-imgs) {
    width: 100px;
    max-width: 100%;
    height: auto;
  }
  .logo {
    width: 150px;
    height: auto;
    margin-right: -30px;
    margin-top: -40px;
  
  }
  .DXC {
    text-transform: uppercase;
  }
  section {
    padding: 5rem 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }


/*header
.menu-area{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; 
  background: transparent;
  color: white;
  padding: 1em;
  
}

.menu-area > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; 
  flex: 3;
  
}

.menu-area li{
  margin-right: 1em;
  cursor: pointer;
}
*/
ul li:nth-child(1){
  font-size: 30px;
  text-transform: uppercase;
}

ul li:nth-child(2), ul li:nth-child(3), ul li:nth-child(4){
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.banner-text{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 300px;
}

.banner-text h2{
  background-image: url(images/bg.jpg);
  font-size: 70px;
  margin: 0;
}


header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-brand {
    width: 2rem;
  }
  .menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
  }
  .close i {
    color: black;
  }
  .nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
  }
  .nav-list.active {
    right: 0;
  }
  .close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
  }

/* FORM */

* { 
  margin: 0; 
  padding: 0;  
}

/* Change the background image url to a background of your choosing. */

body { 
  background-position: center; 
  background-size: cover; 
  font-family: san-serif;
  margin-top: 40px;
}


.regform { 
  width: 800px; 
  background-color:rgb(0,0,0,0.6);
  margin: auto;
  color: #ffffff;
  padding: 10px 0px 10px 0px; 
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.main { 
  background-color: rgb(0,0,0,0.5);
  width: 800px; 
  margin: auto;
}

form { 
  padding:10px; 
  position: relative;
  margin-top: 600px;
}

#name { 
  width: 100%;
  height: 100px;
}

.name { 
  margin-left: 25px;
  margin-top: 30px; 
  width: 125px;
  color:black;
  font-size: 18px;
  font-weight: 700;
}

.firstname { 
  position: relative;
  left: 200px;
  top: -37px; 
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.lastname { 
  position: relative;
  left: 417px;
  top: -80px;
  line-height: 40px;
  border-radius: 6px; 
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.firstlabel { 
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 203px; 
  top: -45px;
}

.lastlabel { 
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 175px; 
  top: -45px;
}

.company { 
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px; 
  font-size: 16px;
  color: #555;
 }

.email { 
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px; 
  font-size: 16px;
  color: #555;
}

.code { 
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 95px;
  border-radius: 6px;
  padding: 0 22px; 
  font-size: 16px;
  color: #555;
}
.number { 
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 255px;
  border-radius: 6px;
  padding: 0 22px; 
  font-size: 16px;
  color: #555; 
}

.area-code { 
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 16px;
  left: 54px;
  top: -4px;
}

.phone-number { 
  /* position: relative; */
  margin-left: -50px;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 16px;
  left: -100px;
  top: -2px;  
}

.option { 
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 532px;
  height: 40px; 
  border-radius: 6px;
  padding: 0 22px; 
  font-size: 16px;
  color: #555;
  outline: none; 
  overflow: hidden;
}

.option option{ 
  font-size: 20px; 
}

#customer { 
  margin-left: 25px; 
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.radio { 
  display: inline-block;
  padding-right: 70px; 
  font-size: 25px; 
  margin-left: 25px;
  margin-top: 15px; 
  color: white;
}

.radio input{ 
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  cursor: pointer; 
  outline: none;
}


Button { 
  background-color: #3BAF9F;
  display: block;
  margin: 20px 0px 0px 20px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}

button:hover { 
  background-color: #5390F5;
}

.grid-container {
  display: grid;
  margin: 650px;
  max-width: 1500px;
  margin-top: 600px;
  grid-gap: 1rem;
  grid-template-areas: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 50px;
  grid-column-gap: 150px;
}

.grid-item {
  padding: 20px;
  font-size: 60px;
  text-align: left;
  color: rgb(0, 0, 0);
  position: relative;
}

.grid2_photo {
  object-fit: cover;
  width: 800px;
  max-height: 500px;
}

.italictext {
  font-style: italic;
  font-size: medium;
  margin-top: 2%;
}

@media (min-width: 48em) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}





/* header */

.menu-area {
  display: flex;
  overflow: hidden;
  align-items: center;
  background: rgba(0, 0, 0, 85%);
  margin: 40px;
  padding: 10px;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 5;
}


/*.menu-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 85%);
  color: black;
  z-index: 5;
}*/

.menu-area li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid black(255, 255, 255, 85%);
  text-decoration: none;
  color: white;
  margin-left: 70px;
}


/* menu */

.menu-area .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.menu-area .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-area .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-area .menu-icon .navicon:before,
.menu-area .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-area .menu-icon .navicon:before {
  top: 5px;
}

.menu-area .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-area .menu-btn {
  display: none;
}

.menu-area .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-area .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-area .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-area .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-area .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-area .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .menu-area li {
    float: left;
  }
  .menu-area li a {
    padding: 20px 30px;
  }
  .menu-area .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-area .menu-icon {
    display: none;
  }
}

@media (max-width: 48em) {
  .menu-area .logo {
    display: none;
  }
}


@media screen and (max-width: 48em) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
